*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#dcd1cd 35%, rgba(0,212,255,1) 100%);
}
.container{
    height: 260px;
    background: #fff;
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.5s ease;
}
.container.active{
    height: 530px;
}
header h1{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
header p{
    color: #474747;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}
.container .form{
    padding: 20px 0 25px;
}
.container :where(input,button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 7px;
}
.form input{
    padding: 0 17px;
    font-size: 18px;
    border: 1px solid #999;
}
.form button{
    color: #fff;
    background: #987a71;
    margin-top: 20px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.form button:hover{
    background: #b8958a;
}
.container .qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 33px 0;
    pointer-events: none;
    opacity: 0;
}
.qr-code .img{
    width: 220px;
    height: auto;
}
.container.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s ease;
}
